#login{
    background-color: gray;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
}
#loginButton{
    margin-top: 20px;
}
#registerButton{
    background-color: red;
    color: white;
}
#inputOutput{
    color: rgb(255, 147, 147);
}

#mainMenu{
    background-color: gray;
    width: 300px;
    height: 300px;
    text-align: center;
}
.mainMenuTitle{
    color: white;
    padding-top: 10px;
    font-size: 20px;
}
.playbutton{
    padding-top: 100px;
}
.mainMenuPlayButton{
    
}


#ingame {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: gray;
}
.slider{
    
}

#background {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(data/Background.png);
}

#cannon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 270px;
    left: 140px;
    background-image: url(data/Canon.png);
}

#alien {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 80px;
    background-image: url(data/Alien.png);
}

#missile {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 240px;
    left: 145px;
    background-image: url(data/Missile.png);
}

#fireButton {
    background-color: red;
    color: white;
}

#win_gameOver{
    background-color: gray;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
}

#lose_gameOver{
    background-color: gray;
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
}